@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles here */

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

html, body, p, h1, h2, h3, h4, h5, h6, span {
    @apply font-outfit;
}

html, body {
    @apply bg-gray-200 dark:bg-gray-900 text-gray-600 dark:text-gray-300 overflow-y-hidden;
}

hr {
    @apply dark:border-gray-600;
}

.main {
    @apply mx-auto h-screen overflow-auto sm:overflow-hidden;
}

.header {
    @apply flex-col flex-1 justify-center items-center mt-28 mb-20 sm:my-0;
}

.account__input {
    @apply block w-full p-4 ps-12 text-sm text-gray-900 rounded-full bg-white placeholder-gray-600 focus:highlight-200 focus:outline-none dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-200 dark:focus:highlight-200;
}

.filter__input {
    @apply block w-full p-2 ps-12 text-sm text-gray-900 rounded-full bg-white placeholder-gray-600 focus:highlight-200 focus:outline-none dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-200 dark:focus:highlight-200;
}

.btn {
    @apply py-2 text-sm font-medium text-gray-600 focus:outline-none bg-transparent rounded-full hover:text-gray-800 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
}

.btn.btn__primary {
    @apply px-4 disabled:bg-gray-400 border-2 text-white border-white hover:bg-gray-300;
}

.btn.btn__default {
    @apply px-4 hover:bg-white;
}

.btn.btn__link {
    @apply py-0 text-xs inline-flex items-center space-x-2 text-gray-800 enabled:text-gray-900 dark:text-gray-400 hover:enabled:underline hover:enabled:underline-offset-2 hover:enabled:text-gray-900 dark:hover:enabled:text-white;
}

.btn.btn__logo {
    @apply py-2.5 inline-flex items-center space-x-2 text-gray-500 dark:text-gray-400 border border-gray-200 hover:bg-gray-100 hover:enabled:text-gray-900 dark:hover:enabled:text-white;
}

.btn.btn__icon {
    @apply text-gray-800 hover:bg-gray-200 focus:ring-0 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-500;
}

.btn.btn__icon_sm {
    @apply text-white hover:bg-gray-200 focus:ring-1 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-1.5 text-center inline-flex items-center dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-500;
}

.btn.btn__icon.btn__white {
    @apply bg-white disabled:bg-gray-300 disabled:no-highlight hover:bg-gray-200 hover:highlight-400 hover:text-gray-800;
}

.btn.btn__icon_sm.btn__gray,
.btn.btn__icon.btn__gray {
    @apply bg-gray-100 disabled:bg-gray-300 disabled:no-highlight hover:bg-gray-200 hover:highlight-400;
}

.btn.btn__icon.btn__transparent {
    @apply bg-transparent hover:bg-gray-300 hover:highlight-400 disabled:bg-transparent disabled:no-highlight text-gray-900 disabled:text-gray-500;
}

.btn__claim {
    @apply px-4 py-2 border-2 border-white text-base font-semibold text-center items-center text-white rounded-full hover:bg-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700;
}

.chip {
    @apply text-gray-800 text-xs px-2.5 py-1 rounded-full;
}
.chip.chip__gray {
    @apply text-white bg-gray-500;
}

.btn.btn__icon.polkadot,
.btn.btn__primary.polkadot,
.btn__claim.polkadot {
    @apply bg-polkadot hover:bg-white hover:text-polkadot hover:border-polkadot;
}

.btn.btn__icon.kusama,
.btn.btn__primary.kusama,
.btn__claim.kusama {
    @apply bg-kusama hover:bg-white hover:text-kusama hover:border-kusama;
}

.counter {
    @apply inline-flex items-center justify-center w-5 h-5 ms-3 text-xs font-semibold bg-white rounded-full;
}

.counter.polkadot {
    @apply text-polkadot group-hover:text-white group-hover:bg-polkadot
}

.counter.kusama {
    @apply text-kusama group-hover:text-white group-hover:bg-kusama
}

.btn__add_account {
    @apply w-64 h-48 p-2.5 flex flex-col justify-evenly border-2 border-dashed border-gray-400 hover:border-solid hover:bg-gray-200 focus:ring-1 focus:outline-none focus:ring-gray-300 rounded-lg dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-500;
}

.tab.tab__filters {
    @apply flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400;
}

.account__item {
    @apply bg-transparent dark:bg-gray-700;
}

.account__item .btn__icon {
    @apply dark:bg-transparent;
}

.account__item_small {
    @apply me-2 mb-2 bg-transparent dark:bg-gray-700;
}

.account__item_small .btn__icon {
    @apply dark:bg-transparent;
}

.account__dropdown {
    @apply relative flex justify-between items-center px-4 py-3 rounded-md text-gray-600 dark:text-gray-100 bg-gray-50 w-full dark:bg-gray-800;
}

.menu_dropdown {
    @apply absolute z-10 top-8 end-0 w-56 max-h-60 overflow-y-auto bg-white divide-y rounded-md shadow-lg dark:bg-gray-700;
}

.modal__claim {
    @apply overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full bg-gray-900/70 dark:bg-gray-900/80 inset-0 md:inset-0 h-full max-h-full;
}

.modal__add_account {
    @apply overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full bg-gray-900/70 dark:bg-gray-900/80 inset-0 md:inset-0 h-full max-h-full;
}

.step__index {
    @apply w-20 sm:w-28 text-gray-900;
}

.step__title {
    @apply text-gray-900 mt-4 mb-2 text-xl sm:text-4xl font-medium tracking-wider leading-snug text-wrap;
}

.step__subtitle {
    @apply text-gray-900 text-sm sm:text-lg tracking-wider leading-snug text-wrap;
}

.step__dot {
    @apply inline-block w-2 h-2 rounded-full;
}

.account__chip {
    @apply inline-flex items-center justify-between me-2 text-sm min-h-9 text-gray-800 dark:text-gray-300;
}

.api_init {
    @apply w-2 h-2 mx-2 rounded-full bg-white text-orange;
}

.api_active {
    @apply w-2 h-2 mx-2 rounded-full bg-white text-green;
}

.api_inactive {
    @apply w-2 h-2 mx-2 rounded-full bg-white text-red;
}

@layer utilities {
    .no-highlight {
        box-shadow: none;
    }

    .highlight-200 {
        box-shadow:
            hsl(210, 16%, 93%) 0px 0px 0px 2px;
    }

    .highlight-400 {
        box-shadow:
            hsl(210, 14%, 83%) 0px 0px 0px 2px;
    }

    .highlight-800 {
        box-shadow:
            hsl(210, 10%, 23%) 0px 0px 0px 2px;
    }
  }